body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* // water page  */

  
body {
  padding: 50px;
  background-image: url("images/woman-drinking-water_santacruzcore.jpg");
  background-size:  cover;
  background-attachment: fixed;
  font-family: sans-serif;
}

#container {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.WaterDrinkMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 165px;
  color:  rgb(91, 168, 199);

}

/* .WaterDrinkMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #282c34;
  color: #FFF;
  border: 2px solid rgb(91, 168, 199);
} */

.WaterDrinkMain.header button:hover {
  background-color: #e9b88f;

  cursor: pointer;
}

.WaterDrinkMain.theList {
  list-style: none;
  color: red;
  padding-left: 0;
  width: 250px;
}

.WaterDrinkMain.theList li {
  color: #333;
  background-color: rgba(255, 255, 255, .5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}

ul.theList {
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  flex-direction: column-reverse;
}


.theList li {
  color: #333;
  background-color: rgba(255, 255, 255, .5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: background-color .2s ease-out;
}

.WaterDrinkMain .theList li:hover {
  background-color: pink;
  cursor: pointer;
}

 ul.theList li:hover{
	background-color: red;
	color: #ffffff;
	cursor: pointer;
}
.Date{
  
    padding: 4px;
    font-size: 14px;
    margin: 6px;
    margin-right: 0px;
    background-color:rgb(91, 168, 199);
    color: #FFF;
    border: 2px solid rgb(167, 171, 175);
  }

  #listedCups{
    padding: 4px;
    font-size: 14px;
    margin: 6px;
    margin-right: 0px;
    background-color:rgb(91, 168, 199);
    color: #FFF;
    border: 2px solid rgb(167, 171, 175);
  }

  .material-icons{

    border-radius: 50%;
    padding: 8px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: rgb(173, 142, 118);
    color:black;
    border:2px solid white ;
  }


.Add{
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #282c34;
  color: #FFF;
  border: 2px solid rgb(91, 168, 199); 
}

.Clear{
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #282c34;
  color: #FFF;
  border: 2px solid rgb(91, 168, 199); 
 margin-left: 13.01%;
  
}


.Weather{
color: rgb(25, 114, 165);
}

.Home{
  font-weight: bold; 
}



.lead{
  font-size: 20px;
  font-weight: bold;
  margin-left: 3%;
  color: rgb(25, 114, 165);
  
}

.navbar-brand{
  color:white;
}